# App Configuration
VITE_APP_NAME="Restaurant Automation"
VITE_ENV="development" # development, production, test

# API & Socket URLs
VITE_API_URL="http://localhost:5000/api/v1"
VITE_SOCKET_URL="http://localhost:5000"

# Other Settings
VITE_DEBUG_MODE=true
